<footer class="footer cf" role="contentinfo">
    <div class="wrapper footer-container">

        <section class="footer-section footer-links">
            <h4>For visitors</h4>

            <ul>
                <li>
                    <a href="http://www.consumerfinance.gov/">consumerfinance.gov</a>
                </li>
                <li>
                    <a href="https://cfpb.github.io/">CFPB Open Tech</a>
                </li>
                <li>
                    <a href="https://github.com/cfpb">github.com/cfpb</a>
                </li>
                <li>
                    <a href="http://www.consumerfinance.gov/jobs/technology-innovation-fellows/">
                        Work with us
                    </a>
                </li>
                <li>
                    <a href="mailto:tech@consumerfinance.gov">Contact us</a>
                </li>
            </ul>
        </section>

        <section class="footer-section footer-links">
            <h4>For contributors</h4>

            <ul>
                <li>
                    <a href="../content-guidelines/content-guidelines.html">How to write Design Manual pages</a>
                </li>

            </ul>
        </section>

        <section class="footer-section footer-oss">
            <h4>Open source</h4>
            <p>
                This project is maintained by <a href="{{ site.author.url }}">{{ site.author.name }}</a>.
                The source code is available at 
                <a href="{{ site.repository.url }}">github.com/cfpb/design-manual</a>
              </p>
            <p>
                As a work of the United States Government, source code released by the CFPB is in the
                public domain by default within the United States.
                <a href="https://cfpb.github.io/source-code-policy/">
                    View our full source code policy.
                </a>
            </p>
        </section>

    </div>
</footer>
